### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [10]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [13]:
total_players = purchase_data["SN"].nunique()
total_players

total_players_clean = pd.DataFrame({"Total Players":[total_players]})
total_players_clean

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
unique_items = purchase_data["Item ID"].nunique()
unique_items

average_price = purchase_data["Price"].mean()
average_price

average_price_clean =np.round(average_price,2)
average_price_clean

total_purchase= purchase_data["SN"].count()
total_purchase

total_revenue= purchase_data["Price"].sum()
total_revenue

purchase_analysis= pd.DataFrame({"Number of Unique Items" :[unique_items],
                            "Average Price": [average_price_clean],
                            "Number of Purchases" :[total_purchase],
                           "Total Revenue":[total_revenue]})
purchase_analysis.style.format({"Average Price":"${:.2f}", "Total Revenue":"${:.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [17]:
all_players_df = purchase_data.loc[purchase_data["Gender"] =="Male"]
male_players = len(all_players_df)
male_players


all_players_df = purchase_data.loc[purchase_data["Gender"] =="Female"]
female_players = len(all_players_df)
female_players


all_players_df = purchase_data.loc[purchase_data["Gender"]== "Other / Non-Disclosed"]
other_players = len(all_players_df)
other_players

male_player_percent = male_players / total_players * 100
male_player_percent

female_player_percent = female_players / total_players * 100
female_player_percent

other_player_percent = other_players / total_players * 100
other_player_percent

gender_data_df = pd.DataFrame({
        "Percentage of Players":[male_player_percent,female_player_percent,other_player_percent],
    "Total Count":[male_players,female_players,other_players],
                  "Category":["Male", "Female", "Other/Non-Disclosed"]}).round(2)

gender_data_clean = gender_data_df.set_index("Category")
gender_data_clean.head()

                     Percentage of Players  Total Count
Category
Male                                113.19          652
Female                               19.62          113
Other/Non-Disclosed                   2.60           15


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [21]:
avg_df = purchase_data.loc[purchase_data["Gender"] == "Male"]
avg_df_male = avg_df["Price"].mean()
total_purchase_male = avg_df["Price"].sum()
avg_df_male
total_purchase_male

avg_df = purchase_data.loc[purchase_data["Gender"] == "Female"]
avg_df_female = avg_df["Price"].mean()
total_purchase_female = avg_df["Price"].sum()
avg_df_female

avg_df = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]
avg_df_others = avg_df["Price"].mean()
total_purchase_others = avg_df["Price"].sum()
avg_df_others

gender_analysis_df = pd.DataFrame({"Purchase Count" :[male_players,female_players,other_players],
                                      "Average Purchase Price" :[avg_df_male, avg_df_female, avg_df_others],
                                      "Total Purchase Value" : [total_purchase_male, total_purchase_female, total_purchase_others],
                                      "Avg Purchase Total Per Person" : [total_purchase_male/male_players,total_purchase_female/female_players,total_purchase_others/other_players],
                                       "Category":["Male", "Female", "Other/Non-Disclosed"]
                                      }).round(2)

purchase_analysis_gender_df = gender_analysis_df.set_index("Category")
gender_analysis_df = purchase_analysis_gender_df[["Purchase Count", "Average Purchase Price","Total Purchase Value","Avg Purchase Total Per Person"]]
purchase_analysis_gender_df.style.format({"Average Purchase Price":"${:.2f}", "Total Purchase Value":"${:.2f}","Avg Purchase Total Per Person":"${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [23]:
purchase_data.dtypes

age_demographics_df = purchase_data["Age"].astype(str).astype(int)
purchase_data.dtypes

age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age_binning"] = pd.cut(purchase_data["Age"],age_bins, labels = group_names)
purchase_data
purchase_data.head()

bin_group = purchase_data.groupby("Age_binning")

totalplayercalc = bin_group["Age"].count()

percent = totalplayercalc / 576 * 100
age_demo_df = pd.DataFrame({"Percentage of Players" :percent,
                          "Total Count" :totalplayercalc
                                 }).round(2)
age_demo_df.head()

age_demos_clean = age_demo_df.reindex(columns=["Percentage of Players","Total Count"])
age_demos_clean

             Percentage of Players  Total Count
Age_binning
<10                           3.99           23
10-14                         4.86           28
15-19                        23.61          136
20-24                        63.37          365
25-29                        17.53          101
30-34                        12.67           73
35-39                         7.12           41
40+                           2.26           13

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [24]:
purchase_data["Age_binning"] = pd.cut(purchase_data["Age"],age_bins, labels = group_names)
age_demo_2 = purchase_data.groupby("Age_binning")
purchase_count = age_demo_2["SN"].count()
avg_purchase_price = age_demo_2["Price"].mean()
total_purchase_value = age_demo_2["Price"].sum()
avg_purchase_total_per_person= total_purchase_value/purchase_count

new_age_df = pd.DataFrame({"Purchase Count":purchase_count,
                        "Average Purchase Price":avg_purchase_price,
                        "Total Purchase Value":total_purchase_value,
                        "Average Purchase Total Per Person":avg_purchase_total_per_person}).round(2)
new_age_df_1 = new_age_df.reindex(columns=["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Average Purchase Total Per Person"])
new_age_df_1.style.format({"Average Purchase Price":"${:.2f}", "Total Purchase Value":"${:.2f}","Avg Purchase Total Per Person":"${:.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [26]:
sngrp = purchase_data.groupby("SN")

item_id_count = sngrp["Price"].count()
avg_pp= sngrp["Price"].mean()
total_purchase_val = sngrp["Price"].sum()

new_spender_df = pd.DataFrame({
                            "Purchase Count" :item_id_count,
                            "Average Purchase Price" :avg_pp,
                            "Total Purchase Value" : total_purchase_val}).round(2)
new_spender_df=new_spender_df.sort_values(by ="Total Purchase Value", ascending = False)
new_spender_df = new_spender_df.reindex(columns=["Purchase Count","Average Purchase Price","Total Purchase Value"])
new_spender_df.style.format({"Average Purchase Price":"${:.2f}","Total Purchase Value": "${:.2f}"})
new_spender_df.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [27]:
sngrp_1 = purchase_data.groupby(["Item ID","Item Name"])

itemid_1 = sngrp_1["Item Name"].unique
itemid_count_1 = sngrp_1["Price"].count()
avgpp_1= sngrp_1["Price"].unique()
totpv_1 = sngrp_1["Price"].sum()
#totpv
popular_items = pd.DataFrame({"Purchase Count" :itemid_count_1,
                            "Item Price" :avgpp_1,
                            "Total Purchase Value" : totpv_1}).round(2)
popular_items=popular_items.sort_values(["Purchase Count","Total Purchase Value"], ascending = False)
popular_items = popular_items.reindex(columns=["Purchase Count","Item Price","Total Purchase Value"])
popular_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,"[4.88, 4.19]",59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,[4.23],50.76
82,Nirvana,9,[4.9],44.10
145,Fiery Glass Crusader,9,[4.58],41.22
108,"Extraction, Quickblade Of Trembling Hands",9,[3.53],31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [28]:
popular_items=popular_items.sort_values(["Total Purchase Value"], ascending = False)
popular_items.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,"[4.88, 4.19]",59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,[4.23],50.76
82,Nirvana,9,[4.9],44.10
145,Fiery Glass Crusader,9,[4.58],41.22
103,Singed Scalpel,8,[4.35],34.80